.ArticlesPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 64rem;
  align-items: center;
}

.ArticlesPageLoading {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.ArticlesPageLoading > div {
  transform: translateY(-50%);
  z-index: 1;
}

.ArticlesList,
.ArticlesPagePinned {
  width: 100%;
  margin-top: 2rem;
  position: relative;
}

@media (width <= 720px) {
  .ArticlesPage {
    width: 100%;
    max-width: 100%;
    min-width: auto;
  }
}
