:root {
  --site-light-gray: #f6f7f7;
  --site-dark-green: #005b4b;
  --site-light-green: #e0e8cb;
  --site-dark-orange: #e58900;
  --site-light-orange: #fae6cc;
  --site-white: white;
  --site-black: black;
  --site-light-black: #a7aaab;
  --site-border-color: #dde7e6;
  --site-modal-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  --site-serif-font: "Roboto Serif", serif;
  --site-shadow: 0 2px 3px -1px rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}
